.red{
  color: red;
}

.bold{
  font-weight: bold;
}

:global .curve-button{
  border-radius: 20px;
}

.Cockpit button{
  background-color: green;
  border: 1px solid #ccc;
  padding: 10px;
  color: white;
  cursor: pointer;
}
.Cockpit button:hover{
  background-color: lightgreen;
  color: black;
}

.Cockpit button.Red{
  background-color: red;
  color: white
}
.Cockpit button.Red:hover{
  background-color: salmon;
  color: black
}